<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Моя Статистика</title>
</head>
<body>
<main>
    <p>Количество посещенных стран: {{ count_country }} </p>
    <p>Цена поездок в текущем месяце: {{ sum_price_month }}</p>
    <p>Колличество предстоящих поездок: {{ trips_count }}</p>
    {% if later_trips %}
        <h2>Предстоящие поездки</h2>
        {% for trip in later_trips %}
            <div>
                <p>Страна: {{ trip.trip_to }}</p>
                <p>Длительность поездки в днях: {{ trip.trip_late }}</p>
                <div>
                    <h4>План поездки</h4>
                    <p>{{ trip.trip_plan }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</main>
</body>
</html>