* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
    min-width: 375px;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    border-bottom: darkblue solid 1px;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    color: darkblue;
}

header ul li {
    display: inline-block;
    border: darkblue solid 1px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    text-align: center;
    margin: 0.8rem;
}

header ul li:hover {
    background-color: darkblue;
    & a {
        color: white;
    }
}

a {
    text-decoration: none;
    color: darkblue;
}

#add_tickets {
    display: block;
    border: darkblue solid 1px;
    border-radius: 0.3rem;
    text-align: center;
}

#add_tickets:hover {
    background-color: darkblue;
    & a {
        color: white;
    }
}

