<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<header>
    <ul>
        <li><a href="{% url 'firstapp:register' %}">Регистрация</a></li>
        <li><a href="{% url 'firstapp:authenticate' %}">Войти</a></li>
        <li><a href="#">Выйти</a></li>
    </ul>
</header>
<main>
    <div id="form_auth">
        <form action="{% url 'firstapp:authentication_process' %}" method="post">
            <label for="email-input">Email</label>
            <input type="email" name="email" id="email-input">
            <label for="password-input">Password</label>
            <input type="password" name="password" id="password-input">
        </form>
    </div>
</main>
<footer>
    <div><p>&copy Passepartout 2024</p></div>
</footer>
</body>
</html>